<div>
    <div>
        <h1 class="title">Games index</h1>
    </div>
    <div class="games-container">
        <ul>
            <% @games.each do |game| %>
                <li><%=game.home_team.name%> - <%=game.away_team.name%>
                    <%= simple_form_for Bet.new do |f| %>
                    <%= f.input_field :home_goals, as: :float, min: 0 %> - <%= f.input_field :away_goals, as: :float, min: 0 %>

                    <%= f.hidden_field :game_id, value: game.id %>

                    <%= f.hidden_field :home_team_id, value: game.home_team.id %>
                    <%= f.hidden_field :away_team_id, value: game.away_team.id %>

                    <%= f.submit "Save", class: "button is-rounded" %></li>
                <% end %>
            <% @bets.each do |bet| %>
                <li><%=game.home_team.name %> <%= [ bet.home_goals]%> - <%=game.away_team.name %> <%= [ bet.away_goals] %></li>
            <% end %>
            <% end %>

        </ul>
    </div>
</div>